.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 80px;
}

@media screen and (max-width: 1279px) {
  .cards {
    grid-row-gap: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    grid-row-gap: 50px;
  }
}
