.places {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  margin: 0;
  padding: 0 148px;
}

@media screen and (max-width: 1279px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0;
  }
}
