.cards__paragraph {
  margin: 0;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
}

.cards__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px) {
  .cards__paragraph {
    font-size: 16px;
  }
}
