.travel__img {
  width: 984px;
  height: 615px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .travel__img {
    width: 928px;
    height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .travel__img {
    width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .travel__img {
    width: 320px;
    height: 200px;
  }
}
