.cover {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: center;
  margin: 0;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding: 0;
  }
}
