.cards__image {
  margin: 0;
  grid-area: cards__image;
  width: 100%;
  justify-self: right;
  align-self: start;
  border:none;
}

@media screen and (max-width: 767px) {
  .cards__image {
    justify-self: center;
    align-self: center;
  }
}
