.intro__block-texts {
  display: grid;
  justify-content: start;
}

@media screen and (max-width: 1023px) {
  .intro__block-texts {
    justify-content: center;
    grid-template-columns: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__block-texts {
    justify-content: start;
    grid-template-columns: 288px;
  }
}
