.cover__title {
  margin: 0 312px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin: 0 232px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin: 0 104px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
