.header__title {
  display: grid;
  justify-self: center;
  align-self: start;
  width: 720px;
  margin: 48px 0 32px 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header__title {
    width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 48px 0 16px 0;
  }
}
