.cards__website {
  margin: 0;
  display: grid;
  grid-row-gap: 12px;
  grid-area: cards__website;
  justify-self: left;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .cards__website {
    margin: 0 16px ;
    justify-self: start;
    align-self: center;
  }
}
